@use '../.resources/colors.scss' as *;
@use '../.resources/screen-sizes.scss' as *;

.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .modal-content-container {
    background-color: $modal-bg;
    border: 1px solid $table-border-color;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: $md;
  }

  .modal-header {
    padding: 1rem;
    border-bottom: 1px solid $table-border-color;
    h2 {
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .modal-content {
    padding: 1rem;
  }

  .modal-actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid $table-border-color;

    button {
      background-color: $modal-btn-bg;
      min-width: 100px;
      max-width: 150px;
      margin-left: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }

      &.transparent {
        background-color: transparent;
        border: 1px solid $table-border-color;
        color: $modal-btn-tr-color;
      }
    }
  }
}